.site-header {
  background: rgba(50, 50, 50, 0.5); /* полупрозрачный фон */
  backdrop-filter: blur(8px); /* эффект стекла */
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.site-logo {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.main-nav {
  display: flex;
  gap: 30px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #fff;
}

.main-nav a:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 2px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.btn.black {
  background-color: black;
}

.btn.red {
  background-color: #f3425f;
}

.download-icon {
  margin-left: 5px;
}
